/* body {
    background: orangered !important;
} */

body {
    margin: 0;
    padding: 0;

}

.form-group1 b{
    margin-top:2%;
    margin-right: 1%;
}

.box7 {
    background:rgb(102, 193, 230) !important;
    width: 60%;
    padding:3%;
    margin: 2%;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 20%;
    box-shadow: -3px -3px 10px WHITE, 3px 3px 10px WHITE;
}
.form-group1 {
    margin-top: 2%;
    margin-right: 1%;
}
.form-group1 label {
    font-size: large;
    color: black
}

.form-group1 input[type="text"],
.form-group1 input[type="email"] {
    width: 80%;
    border-radius: 12px;
    padding: 2%;
    color: black;
    border: 2px solid silver;
    outline: none;
    background-color: white;
    margin: 0;
}

input[type="number"] {
    width: 80%;
    border-radius: 12px;
    padding: 2%;
    color: black;
    background-color: white;
    border: 2px solid silver;
    outline: none;
}

input[type="date"]{
    background-color:rgb(33, 160, 210) ;
    top: 50%;
    left: 50%;
padding: 2%;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form-group1 select {
    width: 80%;
    border-radius: 12px;
    padding: 2%;

}

.form-group1 {
    margin: 3% 12%;
    display: flex;
}

.form-group1 #amount {
    width: 30%;

}

.btn-1 {
    display: flex;
    justify-content: center;
    width: 40%;
    align-items: center;
    margin-left: 30%;
}

input[type="submit"] {
    border: none;
    outline: none;
}


@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
    box-sizing: border-box;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seat-select
{
    background-color:green;
    height: 26px;
    width: 34px;
    margin: 3px;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
}
.no-seat
{
    background-color:red;
    height: 26px;
    width: 40px;
    margin: 3px;
    font-size: 15px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
}

.no-seat-F
{
    background-color:deeppink;
    height: 26px;
    width: 40px;
    margin: 3px;
    font-size: 15px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
}

.no-seat-o
{
    background-color:blueviolet;
    height: 26px;
    width: 40px;
    margin: 3px;
    font-size: 15px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
}

.seat {
    background-color: #444451;
    height: 26px;
    width: 40px;
    margin: 3px;
font-size:15px;
color:white;
text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat-firstClass {
    background-color: blue;
    height: 26px;
    width: 40px;
    color:white;
    margin: 3px;
    font-size:15px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.seat-secondClass {
    background-color: aqua;
    height: 26px;
    width: 40px;
    margin: 3px;
    font-size:15px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.seat-available {
    background-color: green;
    height: 26px;
    width: 34px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.seat-selected {
    background-color: red;
    height: 26px;
    width: 34px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.showcase {
    padding: 5px 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.info-seats {
    display: flex;

    text-align: center;
}

.info-seats b {
    margin-top: 3%;
}

.seat-type {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1%;
}

.screen {
    
    background-color: #fff;
    height: 120px;
    width: 50%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: rgb(158, 248, 158);
}