/* body{
    background: url('movie.jpg');
    background-size: cover; 
} */


  .form-login input {
    width: 100%; 
    margin-bottom: 20px;
    padding: 13px; 
    box-sizing: border-box; 
    border-radius:20px;
    border:2px solid white;
    outline:none;
  }
  
  .box{
    padding:2%;
  }

  .submit{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:30px;
    border-radius: 20px;
  }

  button[type="submit"]
  {
    width:95%;
    padding: 5%;
    border:2px solid white;
    border-radius: 20px;
  }

  label b{
    color:white;
  }